body{
    font-family: 'Red Hat Text', sans-serif;
    background: rgb(0, 0, 0);
    margin-top: 5%;
}
header{
    background: white;
    display: flex;
    
}
.Jose-Gomez{
    text-align: left;
    margin-top: 0px ;
    font-size: small;
}
.post{
    background: white;
    width: 430px;
    height: 100%;
    margin: auto;
    border-radius: 3%;

}
.container{
    width:600px;
    margin: auto;
    margin-top: 20px;
}
.image1{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px ;
}
.h4-tittle{
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: small;
}
.content{
    display: flex;
    margin: 0px;
    padding: 12px;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: inherit;
}
img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;

}
.tittle {
    display: inline-flex; 
}
.three-dots{
    display: flex;
    float: right;
    margin-left: 265px;
    margin-top: 10px;
    width: 30pxpx;
    height: 20px;
}
.Like-share-comment{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 6px;
    margin-top: 5px;
}
.save{
    margin-left: 348px;
    display: flex;
    float: right;
    margin-top: 4px;

}
.content-likes{
    margin-bottom: 0px;
    margin-left: 10px;
}
i {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding: 5px;
}
.under{
    display: flex;
}
